@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

*, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Barlow', sans-serif;
    
    box-sizing: border-box;
    font-size: 18px;
    min-width: 375px;

    color:rgba(41, 53, 69, 1);
    
}
.wrapper {
    // display: flex;
    color: hsl(212, 27%, 19%);

}
 
h1, h2, h3, button, .bttn, .button {
    font-family: 'Fraunces', serif;
}
header .button {
    padding: 15px 25px;
    color: black;
    border-radius: 55px;
    transition: 0.3s ease-in-out;
}

h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 1.7rem;
    color: rgba(41, 53, 69, 1);

    @media (min-width: 900px) {
        font-size: 2rem;
    }
}
h3 {

    @media (min-width: 700px) {
        font-size: 1.8rem;
    }
}
a:any-link {
    transition: 0.3s ease-in-out;
}
p {
    line-height: 1.5;
    color: hsl(198deg, 62%, 26%);
    font-weight: 100;
}

.logo {
    width: 125px;
    height: 25px;
    margin: 0 auto;

    @media (min-width: 700px) {
        width: 175px;
        height: 35px;
    }
}

a, li {
    text-decoration: none;
    list-style-type: none;
}
